#cloud-config
repo_update: true
repo_upgrade: all
ssh_pwauth: yes
hostname: first-stop
packages:
- nmap
- iputils-ping
- net-tools
- ftp
groups:
- student
users:
- default
%{ for player in players ~}
- name: ${player.login}
  lock_passwd: false
  passwd: ${player.password}
  groups:
  - student
  shell: /bin/bash
%{ endfor ~}
write_files:
- path: /etc/motd
  content: |

    ███████╗██╗██████╗ ███████╗████████╗    ███████╗████████╗ ██████╗ ██████╗
    ██╔════╝██║██╔══██╗██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝██╔═══██╗██╔══██╗
    █████╗  ██║██████╔╝███████╗   ██║       ███████╗   ██║   ██║   ██║██████╔╝
    ██╔══╝  ██║██╔══██╗╚════██║   ██║       ╚════██║   ██║   ██║   ██║██╔═══╝
    ██║     ██║██║  ██║███████║   ██║       ███████║   ██║   ╚██████╔╝██║
    ╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝    ╚═════╝ ╚═╝

    "I'll tell you a riddle. You're waiting for a train, a train that will
    take you far away. You know where you hope this train will take you,
    but you don't know for sure."

    You found it. Well done. The next dream machine lies just a few addresses
    higher on your subnet.

    Helpful commands: ifconfig, nmap, ssh, man, ping
runcmd:
- sudo rm /etc/update-motd.d/*
- sudo rm /etc/legal
- sudo hostname first-stop
- sed -i '/Port/s/^.*$/Port 123/' /etc/ssh/sshd_config
- service sshd reload
